# VHDL ignore
*.o
*.cf
*.rpt
*.jou
*.log
*.vcd
*.wcfg
*.qpf
*.qsf
*.rtd
*.sdc
*.str
*.syr
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.xpr
# *.toml
build/rebuild*.tcl

# Files
sqrt8.pdf
*.new
*.old
# *.xdc
# *.tcl
# Makefile